@import '../../variables';

.form-page {
  padding: 30px;

  &__title {
    margin-top: 0;
  }

  &__input {
    outline: 0;
    border: 1px solid #d9d9d9;
    padding: 5px;
    font-size: 13px;
    margin-right: 10px;
    border-radius: 3px;
    transition: all 300ms;

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      border-color: rgba($primary-color, 0.8);
      box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
    }
  }

  &__btn {
    cursor: pointer;
    transition: all 300ms;
    font-size: 13px;
    border: 1px solid #d0d0d5;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &__submit-btn {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
    &:hover {
      background-color: darken($primary-color, 10);
      color: #fff;
    }
  }
}
