@import '../../variables';

@mixin underline {
  content: '';
  position: absolute;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 5px);
  height: 3px;
  background-color: darken($primary-color, 10);
  transition: width 300ms;
}

@mixin hover {
  color: darken($primary-color, 10);

  &:after {
    width: 100%;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 30px 40px;
  display: flex;

  &__item {
    margin-right: 50px;
  }

  &__link {
    text-decoration: none;
    color: #333;
    transition: all 300ms;
    position: relative;

    &:after {
      @include underline;
    }

    &_active {
      color: $primary-color;
      &:after {
        width: 100%;
        color: $primary-color;
        background-color: $primary-color;
      }
    }

    &:hover {
      @include hover;
    }
  }

  &__non-func-link {
    cursor: pointer;
    color: #333;
    position: relative;

    &:after {
      @include underline;
    }

    &:hover {
      @include hover;
    }
  }
}
